<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal">
		     <%= image_tag "profile.png", name: "aboutme" , style: "width:140px;height:140px", class: "img-circle" %>

        </a>

   
        <h3>Philip Mutua</h3>
        <em>click my face for more</em>
		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Philip</h4>
                    </div>
                <div class="modal-body">
                    <center>
                       <%= image_tag "profile.png", name: "aboutme" , style: "width:140px;height:140px", class: "img-circle" %></a>
                    <h3 class="media-heading">Philip Mutua <small>Kenya</small></h3>
                    <span><strong>Hobbies: </strong></span>
                        <span class="label label-warning">Coding</span>
                        <span class="label label-info">Music</span>
                        <span class="label label-info">Travelling</span>
                        <span class="label label-success">Science of things</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Philip</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h1> It's Mr. Stick Figure</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>
