
@import "bootstrap-sprockets";
@import "bootstrap";

@import 'normalize';
@import 'posts.css.scss';
@import 'pages.css.scss';

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);


html, body {
	font-family: 'PT Sans Narrow', sans-serif;

	background: #DE6262;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1, h2, h3 ,h4 ,h5, h6 {
	font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}



